body {
    background-color: #f8f9fa;
    /* light background color */
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    /* Adjust the height as needed */
}

.loading-spinner i {
    font-size: 3rem;
    /* Adjust the font size for the loading icon */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
}

.option-button-container {
    position: relative;
}

.option-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.options-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.options-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.options-menu ul li {
    padding: 5px 0;
    cursor: pointer;
}

.options-menu ul li:hover {
    background-color: #f5f5f5;
}

.custom-form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-form .form-group {
    margin-bottom: 1.5rem;
}

.customcheck {
    display: block;
    position: relative;
    padding-left: 25px;

    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.customcheck:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked~.checkmark {
    background-color: #02cf32;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.quiz-container {
    background-color: #f8f9fa;
}

.question-container {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 15px;
    padding-top: 10px;
}

.question-title {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
}

.options-container .form-check {
    margin-bottom: 10px;
}

.options-container .form-check-input {
    cursor: pointer;
}

.options-container .form-check-label {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
}

.form-check-input:checked+.form-check-label {
    color: #007bff;
}