/* Workspace.css */
.workspace {
    display: flex;
}

.main-content {
    flex-grow: 1;
    margin-left: 260px;
    margin-right: 260px;
    padding: 20px;
}

.content-area {
    margin-top: 20px;
}
